body {
    background-color: #abd09a;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }

header {
    height: 150px;
    width: 30%;
    background-color: #005445;
    }

h1  {
    color: white;

    }

h2, h3 {
    color: #005445; 
    }

nav > ul {

    color: white;
    }

section {
    height: 250px;
    width: 80%;
    letter-spacing: 3px;
    font-size: smaller;
    background-color:#f2fcda ;

    }

footer {
    height: 70px;
    width: 20%;
    background-color:#d0e9c1;
}